@using SlottyMedia.Backend.Dtos
@using SlottyMedia.Backend.Services.Interfaces

@inject IUserService UserService
@inject IAuthService AuthService


@if (_userInfo is not null)
{
    <Card Class="
        absolute w-full max-w-[280px]
        flex flex-col items-center gap-5
        left-1/2 bottom-0 -translate-x-1/2 translate-y-1/2">

        <!-- container -->
        <div class="h-full w-full p-5 flex flex-col justify-center items-center gap-1">

            <!-- profile picture -->
            <Avatar OpensFileDialog="@false" Base64Png="@_userInfo!.ProfilePic">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" class="absolute inset-0 z-10 m-auto" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.7568 4.17645H4.75684C4.2264 4.17645 3.7177 4.38716 3.34262 4.76224C2.96755 5.13731 2.75684 5.64602 2.75684 6.17645V20.1764C2.75684 20.7069 2.96755 21.2156 3.34262 21.5907C3.7177 21.9657 4.2264 22.1764 4.75684 22.1764H18.7568C19.2873 22.1764 19.796 21.9657 20.171 21.5907C20.5461 21.2156 20.7568 20.7069 20.7568 20.1764V13.1764" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.2568 2.67645C19.6547 2.27863 20.1942 2.05513 20.7568 2.05513C21.3194 2.05513 21.859 2.27863 22.2568 2.67645C22.6547 3.07428 22.8782 3.61384 22.8782 4.17645C22.8782 4.73906 22.6547 5.27863 22.2568 5.67645L12.7568 15.1765L8.75684 16.1765L9.75684 12.1765L19.2568 2.67645Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </Avatar>

            <!-- username -->
            <h3 class="text-xl font-semibold text-center w-fit">
                @_userInfo.Username
            </h3>

            <!-- profile description -->
            <DescriptionContainer DescriptionText="@_userInfo.Description" UserId="@_userInfo.UserId"/>

            <!-- Horizontal Spacer -->
            <div class="w-full border-b border-athens-gray my-3"></div>

            <!-- Spaces and Friends in Profile -->
            <div class="flex w-full">

                <!-- Friends  -->
                <div class="w-full">
                    <h3 class="text-xl text-center font-semibold">
                        @_userInfo.FriendsAmount
                    </h3>
                    <h3 class="text-sm font-medium w-fit mx-auto">
                        Friends
                    </h3>
                </div>

                <!-- spaces -->
                <div class="w-full">
                    <h3 class="text-xl text-center font-semibold">
                        @_userInfo.SpacesAmount
                    </h3>

                    <h3 class="text-sm font-medium w-fit mx-auto">
                        Spaces
                    </h3>
                </div>

            </div>

        </div>

    </Card>
}


@code
{
    UserInformationDto? _userInfo;
    
    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        var authPrincipalId = AuthService.GetAuthPrincipalId();
        if (authPrincipalId is not null)
            _userInfo = await UserService.GetUserInfo(authPrincipalId.Value);
    }
}
