@using SlottyMedia.Backend.Dtos
@using SlottyMedia.Backend.Services.Interfaces
@using SlottyMedia.Backend.ViewModel.Interfaces
@inherits LayoutComponentBase
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="w-screen h-screen grid grid-cols-5">

<!-- sidebar on the left -->
<div class="h-full border-r border-athens-gray">

    <!-- top box -->
    <div class="relative w-full h-2/5 flex justify-center items-center bg-gradient-to-br from-grape to-fandango">

        <!-- logo -->
        <div class="mb-20">
            <img src="static/logo/logo-simple-x100.webp" alt=""/>
        </div>


        <!-- login box -->
        @if (!AuthService.IsAuthenticated())
        {
            <Card Class="
                        absolute w-full max-w-[280px]
                        flex flex-col items-center gap-5
                        left-1/2 bottom-0 -translate-x-1/2 translate-y-1/2">

                <!-- title -->
                <h3 class="text-lg font-semibold my-3">
                    Login Now
                </h3>

                <form @onsubmit="SubmitForm" class="w-full flex flex-col items-center gap-3">

                    <!-- email -->
                    <InputField
                        Id="login-input-email"
                        Name="email"
                        Placeholder="Email"
                        @bind-Value="ViewModelSignUp!.Email">
                        <InputFieldIcon>
                            <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 21V19.75C1 14.9175 5.2533 11 10.5 11C15.7467 11 20 14.9175 20 19.75V21" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M10.5 11C13.4981 11 15.9286 8.76138 15.9286 6C15.9286 3.23857 13.4981 1 10.5 1C7.50188 1 5.07143 3.23857 5.07143 6C5.07143 8.76138 7.50188 11 10.5 11Z" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </InputFieldIcon>
                    </InputField>

                    <!-- email error message -->
                    @if (ViewModelSignUp.EmailErrorMessage != null)
                    {
                        <span class="text-sm text-crayola-orange">
                            @ViewModelSignUp.EmailErrorMessage
                        </span>
                    }

                    <!-- password -->
                    <InputField
                        Id="login-input-password"
                        Name="password"
                        Placeholder="Password"
                        Type="Password"
                        @bind-Value="ViewModelSignUp!.Password">
                        <InputFieldIcon>
                            <svg width="17" height="22" viewBox="0 0 17 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.5 11H15.25C15.6642 11 16 11.3358 16 11.75V20.25C16 20.6642 15.6642 21 15.25 21H1.75C1.33579 21 1 20.6642 1 20.25V11.75C1 11.3358 1.33579 11 1.75 11H3.5M13.5 11V6C13.5 4.33334 12.5 1 8.5 1C4.5 1 3.5 4.33334 3.5 6V11M13.5 11H3.5" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </InputFieldIcon>
                    </InputField>

                    <!-- password error message -->
                    @if (ViewModelSignUp?.PasswordErrorMessage != null)
                    {
                        <span class="text-sm text-crayola-orange">
                            @ViewModelSignUp.PasswordErrorMessage
                        </span>
                    }

                    <!-- any other internal errors -->
                    @if (ViewModelSignUp?.ServerErrorMessage != null)
                    {
                        <span class="text-sm text-crayola-orange">
                            @ViewModelSignUp.ServerErrorMessage
                        </span>
                    }

                    <!-- submission button -->
                    <HotButton Type="submit" Class="w-full max-w-[150px]">
                        Submit
                    </HotButton>

                </form>

                <a href="/register" class="mb-3 text-sm text-fandango underline duration-500 hover:text-crayola-orange">
                    sign up instead
                </a>

            </Card>
        }
        else
        {
            <Card Class="
                        absolute w-full max-w-[280px]
                        flex flex-col items-center gap-5
                        left-1/2 bottom-0 -translate-x-1/2 translate-y-1/2">
                <!-- Profile Card -->
                <div class="h-full w-full p-5 flex flex-col justify-center items-center gap-1">
                    <Avatar OpensFileDialog=true Base64Png="@UserInformationDto.ProfilePic" Base64Callback="PersistAvatarInDb">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" class="absolute inset-0 z-10 m-auto" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.7568 4.17645H4.75684C4.2264 4.17645 3.7177 4.38716 3.34262 4.76224C2.96755 5.13731 2.75684 5.64602 2.75684 6.17645V20.1764C2.75684 20.7069 2.96755 21.2156 3.34262 21.5907C3.7177 21.9657 4.2264 22.1764 4.75684 22.1764H18.7568C19.2873 22.1764 19.796 21.9657 20.171 21.5907C20.5461 21.2156 20.7568 20.7069 20.7568 20.1764V13.1764" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.2568 2.67645C19.6547 2.27863 20.1942 2.05513 20.7568 2.05513C21.3194 2.05513 21.859 2.27863 22.2568 2.67645C22.6547 3.07428 22.8782 3.61384 22.8782 4.17645C22.8782 4.73906 22.6547 5.27863 22.2568 5.67645L12.7568 15.1765L8.75684 16.1765L9.75684 12.1765L19.2568 2.67645Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </Avatar>
                    <h3 class="text-xl font-semibold text-center w-fit">
                        @UserInformationDto.Username
                    </h3>
                    <DescriptionContainer DescriptionText="@UserInformationDto.Description"/>
                    <!-- Horizontal Spacer -->
                    <div class="w-full border-b border-athens-gray my-3"></div>
                    <!-- Spaces and Friends in Profile -->
                    <div class="flex w-full">
                        <!-- Friends Container in Profile  -->
                        <div class="w-full">
                            <h3 class="text-xl text-center font-semibold">
                                @UserInformationDto.FriendsAmount
                            </h3>

                            <h3 class="text-sm font-medium w-fit mx-auto">
                                Friends
                            </h3>
                        </div>

                        <div class="w-full">
                            <h3 class="text-xl text-center font-semibold">
                                @UserInformationDto.SpacesAmount
                            </h3>

                            <h3 class="text-sm font-medium w-fit mx-auto">
                                Spaces
                            </h3>
                        </div>
                    </div>
                </div>
            </Card>
        }

    </div>

    <!-- bottom box -->
    <div class="w-full h-3/5 flex justify-center items-center bg-[#FAF8FB]">
        <div class="flex flex-row gap-10 w-fit">
            <!-- links -->
            @if (AuthService.IsAuthenticated())
            {
                @if (new Uri(NavigationManager.Uri).AbsolutePath != "/profile")
                {
                    <div @onclick="NavigateToRootPage">
                        <svg width="56" height="59" viewBox="0 0 56 59" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#C32AA3" d="M5.7175 45.464L1.9575 54.616C1.91483 54.744 1.84017 54.8453 1.7335 54.92C1.62683 54.9947 1.51483 55.032 1.3975 55.032C1.19483 55.032 1.0455 54.9787 0.9495 54.872C0.8535 54.7653 0.8055 54.6373 0.8055 54.488C0.794833 54.4133 0.8055 54.3333 0.8375 54.248L4.9815 44.168C5.03483 44.0187 5.11483 43.912 5.2215 43.848C5.33883 43.7733 5.46683 43.7413 5.6055 43.752C5.74417 43.752 5.86683 43.7893 5.9735 43.864C6.09083 43.9387 6.17083 44.04 6.2135 44.168L10.3415 54.152C10.3735 54.2373 10.3895 54.3227 10.3895 54.408C10.3895 54.6 10.3255 54.7547 10.1975 54.872C10.0695 54.9787 9.9255 55.032 9.7655 55.032C9.6375 55.032 9.52017 54.9947 9.4135 54.92C9.30683 54.8453 9.22683 54.7387 9.1735 54.6L5.3655 45.448L5.7175 45.464ZM2.7575 52.008L3.3015 50.76H8.0535L8.2935 52.008H2.7575ZM15.5984 46.52C16.1424 46.52 16.633 46.5787 17.0704 46.696C17.5077 46.8133 17.8544 46.9733 18.1104 47.176C18.3664 47.3787 18.4944 47.608 18.4944 47.864C18.4944 48.0027 18.4464 48.136 18.3504 48.264C18.2544 48.392 18.1264 48.456 17.9664 48.456C17.817 48.456 17.6944 48.4293 17.5984 48.376C17.513 48.3227 17.4277 48.2533 17.3424 48.168C17.2677 48.0827 17.161 48.008 17.0224 47.944C16.8944 47.8693 16.7077 47.8107 16.4624 47.768C16.217 47.7253 15.9717 47.704 15.7264 47.704C15.1397 47.704 14.6224 47.8427 14.1744 48.12C13.737 48.3973 13.3904 48.7707 13.1344 49.24C12.8784 49.7093 12.7504 50.2427 12.7504 50.84C12.7504 51.4373 12.873 51.9707 13.1184 52.44C13.3637 52.9093 13.705 53.2827 14.1424 53.56C14.5797 53.8373 15.0864 53.976 15.6624 53.976C16.0357 53.976 16.3344 53.944 16.5584 53.88C16.7824 53.816 16.969 53.7413 17.1184 53.656C17.3104 53.5493 17.4544 53.4427 17.5504 53.336C17.657 53.2293 17.7957 53.176 17.9664 53.176C18.1477 53.176 18.2864 53.2347 18.3824 53.352C18.489 53.4693 18.5424 53.6133 18.5424 53.784C18.5424 53.976 18.409 54.1787 18.1424 54.392C17.8757 54.6053 17.513 54.7867 17.0544 54.936C16.6064 55.0853 16.0944 55.16 15.5184 55.16C14.7077 55.16 13.9984 54.9733 13.3904 54.6C12.7824 54.216 12.3077 53.6987 11.9664 53.048C11.6357 52.3867 11.4704 51.6507 11.4704 50.84C11.4704 50.0293 11.641 49.2987 11.9824 48.648C12.3344 47.9973 12.8197 47.48 13.4384 47.096C14.057 46.712 14.777 46.52 15.5984 46.52ZM19.8953 46.776H23.6553C23.8259 46.776 23.9646 46.8347 24.0713 46.952C24.1886 47.0693 24.2473 47.208 24.2473 47.368C24.2473 47.5387 24.1886 47.6827 24.0713 47.8C23.9646 47.9067 23.8259 47.96 23.6553 47.96H19.8953C19.7353 47.96 19.5966 47.9013 19.4793 47.784C19.3619 47.6667 19.3033 47.5227 19.3033 47.352C19.3033 47.192 19.3619 47.0587 19.4793 46.952C19.5966 46.8347 19.7353 46.776 19.8953 46.776ZM21.5753 44.6C21.7566 44.6 21.9059 44.664 22.0233 44.792C22.1406 44.9093 22.1993 45.0587 22.1993 45.24V52.968C22.1993 53.224 22.2366 53.416 22.3113 53.544C22.3859 53.672 22.4819 53.7627 22.5993 53.816C22.7273 53.8587 22.8499 53.88 22.9673 53.88C23.0739 53.88 23.1646 53.864 23.2393 53.832C23.3246 53.7893 23.4206 53.768 23.5273 53.768C23.6339 53.768 23.7299 53.8213 23.8153 53.928C23.9113 54.024 23.9593 54.152 23.9593 54.312C23.9593 54.504 23.8473 54.6693 23.6233 54.808C23.3993 54.936 23.1486 55 22.8713 55C22.7219 55 22.5353 54.9893 22.3113 54.968C22.0979 54.9467 21.8846 54.8773 21.6713 54.76C21.4579 54.6427 21.2766 54.4507 21.1273 54.184C20.9886 53.9067 20.9193 53.5227 20.9193 53.032V45.24C20.9193 45.0587 20.9833 44.9093 21.1113 44.792C21.2393 44.664 21.3939 44.6 21.5753 44.6ZM27.2598 54.344C27.2598 54.5253 27.1958 54.68 27.0678 54.808C26.9504 54.936 26.8011 55 26.6198 55C26.4278 55 26.2731 54.936 26.1558 54.808C26.0384 54.68 25.9798 54.5253 25.9798 54.344V47.24C25.9798 47.0587 26.0384 46.9093 26.1558 46.792C26.2838 46.664 26.4384 46.6 26.6198 46.6C26.8011 46.6 26.9504 46.664 27.0678 46.792C27.1958 46.9093 27.2598 47.0587 27.2598 47.24V54.344ZM26.6198 45.528C26.3531 45.528 26.1558 45.4747 26.0278 45.368C25.8998 45.2613 25.8358 45.096 25.8358 44.872V44.648C25.8358 44.424 25.9051 44.2587 26.0438 44.152C26.1824 44.0453 26.3798 43.992 26.6358 43.992C26.8918 43.992 27.0838 44.0453 27.2118 44.152C27.3398 44.2587 27.4038 44.424 27.4038 44.648V44.872C27.4038 45.096 27.3344 45.2613 27.1957 45.368C27.0678 45.4747 26.8758 45.528 26.6198 45.528ZM29.559 46.584C29.687 46.584 29.8097 46.6213 29.927 46.696C30.0443 46.76 30.1297 46.856 30.183 46.984L32.839 53.224L32.583 53.352L35.287 47C35.4043 46.712 35.6017 46.5733 35.879 46.584C36.039 46.584 36.1777 46.6373 36.295 46.744C36.4123 46.8507 36.471 46.984 36.471 47.144C36.471 47.208 36.4603 47.272 36.439 47.336C36.4283 47.3893 36.4123 47.4373 36.391 47.48L33.303 54.584C33.1857 54.8507 32.999 54.9893 32.743 55C32.6043 55.0107 32.471 54.984 32.343 54.92C32.2257 54.8453 32.1403 54.7333 32.087 54.584L28.999 47.496C28.9777 47.4533 28.9563 47.4053 28.935 47.352C28.9243 47.2987 28.919 47.2347 28.919 47.16C28.919 47.0213 28.9723 46.8933 29.079 46.776C29.1963 46.648 29.3563 46.584 29.559 46.584ZM39.4316 54.344C39.4316 54.5253 39.3676 54.68 39.2396 54.808C39.1223 54.936 38.973 55 38.7916 55C38.5996 55 38.445 54.936 38.3276 54.808C38.2103 54.68 38.1516 54.5253 38.1516 54.344V47.24C38.1516 47.0587 38.2103 46.9093 38.3276 46.792C38.4556 46.664 38.6103 46.6 38.7916 46.6C38.973 46.6 39.1223 46.664 39.2396 46.792C39.3676 46.9093 39.4316 47.0587 39.4316 47.24V54.344ZM38.7916 45.528C38.525 45.528 38.3276 45.4747 38.1996 45.368C38.0716 45.2613 38.0076 45.096 38.0076 44.872V44.648C38.0076 44.424 38.077 44.2587 38.2156 44.152C38.3543 44.0453 38.5516 43.992 38.8076 43.992C39.0636 43.992 39.2556 44.0453 39.3836 44.152C39.5116 44.2587 39.5756 44.424 39.5756 44.648V44.872C39.5756 45.096 39.5063 45.2613 39.3676 45.368C39.2396 45.4747 39.0476 45.528 38.7916 45.528ZM41.4109 46.776H45.1709C45.3415 46.776 45.4802 46.8347 45.5869 46.952C45.7042 47.0693 45.7629 47.208 45.7629 47.368C45.7629 47.5387 45.7042 47.6827 45.5869 47.8C45.4802 47.9067 45.3415 47.96 45.1709 47.96H41.4109C41.2509 47.96 41.1122 47.9013 40.9949 47.784C40.8775 47.6667 40.8189 47.5227 40.8189 47.352C40.8189 47.192 40.8775 47.0587 40.9949 46.952C41.1122 46.8347 41.2509 46.776 41.4109 46.776ZM43.0909 44.6C43.2722 44.6 43.4215 44.664 43.5389 44.792C43.6562 44.9093 43.7149 45.0587 43.7149 45.24V52.968C43.7149 53.224 43.7522 53.416 43.8269 53.544C43.9015 53.672 43.9975 53.7627 44.1149 53.816C44.2429 53.8587 44.3655 53.88 44.4829 53.88C44.5895 53.88 44.6802 53.864 44.7549 53.832C44.8402 53.7893 44.9362 53.768 45.0429 53.768C45.1495 53.768 45.2455 53.8213 45.3309 53.928C45.4269 54.024 45.4749 54.152 45.4749 54.312C45.4749 54.504 45.3629 54.6693 45.1389 54.808C44.9149 54.936 44.6642 55 44.3869 55C44.2375 55 44.0509 54.9893 43.8269 54.968C43.6135 54.9467 43.4002 54.8773 43.1869 54.76C42.9735 54.6427 42.7922 54.4507 42.6429 54.184C42.5042 53.9067 42.4349 53.5227 42.4349 53.032V45.24C42.4349 45.0587 42.4989 44.9093 42.6269 44.792C42.7549 44.664 42.9095 44.6 43.0909 44.6ZM53.7354 46.6C53.9167 46.6 54.066 46.664 54.1834 46.792C54.3114 46.9093 54.3754 47.0587 54.3754 47.24V54.216C54.3754 55.112 54.1994 55.8533 53.8474 56.44C53.4954 57.0373 53.0207 57.48 52.4234 57.768C51.8367 58.056 51.17 58.2 50.4234 58.2C50.0074 58.2 49.6074 58.1573 49.2234 58.072C48.8394 57.9867 48.5247 57.8747 48.2794 57.736C48.0767 57.64 47.9327 57.5173 47.8474 57.368C47.7727 57.2293 47.762 57.08 47.8154 56.92C47.89 56.728 47.9967 56.5947 48.1354 56.52C48.2847 56.4453 48.4394 56.4453 48.5994 56.52C48.77 56.5947 49.0154 56.696 49.3354 56.824C49.666 56.9627 50.034 57.032 50.4394 57.032C50.994 57.032 51.4687 56.9253 51.8634 56.712C52.258 56.4987 52.562 56.184 52.7754 55.768C52.9887 55.3627 53.0954 54.856 53.0954 54.248V53.112L53.2874 53.512C53.1167 53.8427 52.8874 54.1307 52.5994 54.376C52.3114 54.6213 51.9807 54.8133 51.6074 54.952C51.234 55.0907 50.8234 55.16 50.3754 55.16C49.7674 55.16 49.25 55.032 48.8234 54.776C48.4074 54.5093 48.0874 54.1467 47.8634 53.688C47.65 53.2187 47.5434 52.68 47.5434 52.072V47.24C47.5434 47.0587 47.602 46.9093 47.7194 46.792C47.8474 46.664 48.002 46.6 48.1834 46.6C48.3754 46.6 48.53 46.664 48.6474 46.792C48.7647 46.9093 48.8234 47.0587 48.8234 47.24V51.784C48.8234 52.5093 48.9834 53.0587 49.3034 53.432C49.6234 53.7947 50.1194 53.976 50.7914 53.976C51.218 53.976 51.602 53.88 51.9434 53.688C52.2954 53.496 52.5727 53.2347 52.7754 52.904C52.9887 52.5627 53.0954 52.1893 53.0954 51.784V47.24C53.0954 47.0587 53.154 46.9093 53.2714 46.792C53.3887 46.664 53.5434 46.6 53.7354 46.6Z"/>
                            <path fill="#C32AA3" d="M16 27.25C16 26.2554 16.3951 25.3016 17.0983 24.5983C17.8016 23.8951 18.7554 23.5 19.75 23.5H40"/>
                            <path fill="#C32AA3" stroke="#C32AA3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M16 27.25C16 26.2554 16.3951 25.3016 17.0983 24.5983C17.8016 23.8951 18.7554 23.5 19.75 23.5H40"/>
                            <path fill="#C32AA3" stroke="#C32AA3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M19.75 1H40V31H19.75C18.7554 31 17.8016 30.6049 17.0983 29.9017C16.3951 29.1984 16 28.2446 16 27.25V4.75C16 3.75544 16.3951 2.80161 17.0983 2.09835C17.8016 1.39509 18.7554 1 19.75 1Z"/>
                        </svg>
                    </div>

                    <div @onclick="NavigateToProfilePage">
                        <svg width="56" height="59" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#838DAA" d="M6.23731 37.8C6.82398 37.8 7.35198 37.944 7.82131 38.232C8.29065 38.52 8.65865 38.9147 8.92531 39.416C9.20265 39.9173 9.34131 40.488 9.34131 41.128C9.34131 41.7573 9.20265 42.328 8.92531 42.84C8.65865 43.352 8.29065 43.7573 7.82131 44.056C7.35198 44.3547 6.82398 44.504 6.23731 44.504H2.98931L3.10131 44.312V48.344C3.10131 48.5253 3.04265 48.68 2.92531 48.808C2.80798 48.936 2.65865 49 2.47731 49C2.28531 49 2.13065 48.936 2.01331 48.808C1.90665 48.68 1.85331 48.5253 1.85331 48.344V38.44C1.85331 38.2587 1.91198 38.1093 2.02931 37.992C2.15731 37.864 2.31198 37.8 2.49331 37.8H6.23731ZM6.23731 43.272C6.58931 43.272 6.89865 43.176 7.16531 42.984C7.43198 42.792 7.64531 42.5307 7.80531 42.2C7.96531 41.8693 8.04531 41.512 8.04531 41.128C8.04531 40.7227 7.96531 40.3653 7.80531 40.056C7.64531 39.7467 7.43198 39.5013 7.16531 39.32C6.89865 39.128 6.58931 39.032 6.23731 39.032H2.98931L3.10131 38.856V43.432L2.98931 43.272H6.23731ZM14.8752 49.16C14.0219 49.16 13.2752 48.9787 12.6352 48.616C11.9952 48.2533 11.4939 47.7573 11.1312 47.128C10.7792 46.488 10.6032 45.752 10.6032 44.92C10.6032 43.992 10.7845 43.2027 11.1472 42.552C11.5205 41.8907 12.0005 41.3893 12.5872 41.048C13.1845 40.696 13.8139 40.52 14.4752 40.52C14.9659 40.52 15.4405 40.6107 15.8992 40.792C16.3579 40.9733 16.7632 41.24 17.1152 41.592C17.4672 41.9333 17.7499 42.3493 17.9632 42.84C18.1765 43.32 18.2885 43.8587 18.2992 44.456C18.2992 44.6267 18.2352 44.7707 18.1072 44.888C17.9792 45.0053 17.8299 45.064 17.6592 45.064H11.3392L11.0512 43.96H17.2112L16.9552 44.184V43.832C16.9125 43.3947 16.7632 43.0213 16.5072 42.712C16.2619 42.392 15.9579 42.1467 15.5952 41.976C15.2432 41.8053 14.8699 41.72 14.4752 41.72C14.1552 41.72 13.8352 41.7787 13.5152 41.896C13.2059 42.0027 12.9232 42.184 12.6672 42.44C12.4219 42.6853 12.2192 43.0053 12.0592 43.4C11.9099 43.7947 11.8352 44.2693 11.8352 44.824C11.8352 45.4427 11.9579 45.9867 12.2032 46.456C12.4592 46.9253 12.8112 47.2987 13.2592 47.576C13.7072 47.8427 14.2299 47.976 14.8272 47.976C15.2005 47.976 15.5259 47.928 15.8032 47.832C16.0805 47.736 16.3205 47.6187 16.5232 47.48C16.7259 47.3307 16.8965 47.1813 17.0352 47.032C17.1739 46.936 17.3072 46.888 17.4352 46.888C17.5952 46.888 17.7232 46.9413 17.8192 47.048C17.9259 47.1547 17.9792 47.2827 17.9792 47.432C17.9792 47.6133 17.8939 47.7733 17.7232 47.912C17.4245 48.2427 17.0192 48.536 16.5072 48.792C15.9952 49.0373 15.4512 49.16 14.8752 49.16ZM28.0791 44.84C28.0791 45.672 27.8924 46.4133 27.5191 47.064C27.1564 47.7147 26.6604 48.2267 26.0311 48.6C25.4124 48.9733 24.7137 49.16 23.9351 49.16C23.1564 49.16 22.4524 48.9733 21.8231 48.6C21.1937 48.2267 20.6924 47.7147 20.3191 47.064C19.9564 46.4133 19.7751 45.672 19.7751 44.84C19.7751 44.008 19.9564 43.2667 20.3191 42.616C20.6924 41.9653 21.1937 41.4533 21.8231 41.08C22.4524 40.7067 23.1564 40.52 23.9351 40.52C24.7137 40.52 25.4124 40.7067 26.0311 41.08C26.6604 41.4533 27.1564 41.9653 27.5191 42.616C27.8924 43.2667 28.0791 44.008 28.0791 44.84ZM26.7991 44.84C26.7991 44.2213 26.6711 43.6773 26.4151 43.208C26.1697 42.7387 25.8284 42.3707 25.3911 42.104C24.9644 41.8373 24.4791 41.704 23.9351 41.704C23.3911 41.704 22.9004 41.8373 22.4631 42.104C22.0364 42.3707 21.6951 42.7387 21.4391 43.208C21.1831 43.6773 21.0551 44.2213 21.0551 44.84C21.0551 45.448 21.1831 45.9867 21.4391 46.456C21.6951 46.9253 22.0364 47.2987 22.4631 47.576C22.9004 47.8427 23.3911 47.976 23.9351 47.976C24.4791 47.976 24.9644 47.8427 25.3911 47.576C25.8284 47.2987 26.1697 46.9253 26.4151 46.456C26.6711 45.9867 26.7991 45.448 26.7991 44.84ZM34.0843 40.6C34.8096 40.6 35.4603 40.7813 36.0363 41.144C36.6123 41.5067 37.0656 42.008 37.3963 42.648C37.7376 43.288 37.9083 44.024 37.9083 44.856C37.9083 45.6773 37.7376 46.4133 37.3963 47.064C37.0656 47.704 36.6123 48.2107 36.0363 48.584C35.471 48.9467 34.831 49.128 34.1163 49.128C33.7216 49.128 33.3483 49.0693 32.9963 48.952C32.655 48.824 32.3403 48.664 32.0523 48.472C31.775 48.2693 31.5403 48.0453 31.3483 47.8C31.1563 47.544 31.0176 47.2933 30.9323 47.048L31.2843 46.824V51.544C31.2843 51.7253 31.2256 51.88 31.1083 52.008C30.991 52.136 30.8363 52.2 30.6443 52.2C30.463 52.2 30.3083 52.136 30.1803 52.008C30.063 51.8907 30.0043 51.736 30.0043 51.544V41.32C30.0043 41.1387 30.063 40.9893 30.1803 40.872C30.3083 40.744 30.463 40.68 30.6443 40.68C30.8363 40.68 30.991 40.744 31.1083 40.872C31.2256 40.9893 31.2843 41.1387 31.2843 41.32V42.744L31.0443 42.616C31.119 42.3493 31.247 42.0933 31.4283 41.848C31.6203 41.6027 31.8496 41.3893 32.1163 41.208C32.3936 41.016 32.6976 40.8667 33.0283 40.76C33.3696 40.6533 33.7216 40.6 34.0843 40.6ZM33.9403 41.784C33.407 41.784 32.9323 41.9173 32.5163 42.184C32.111 42.4507 31.791 42.8133 31.5563 43.272C31.3323 43.7307 31.2203 44.2587 31.2203 44.856C31.2203 45.4427 31.3323 45.9707 31.5563 46.44C31.791 46.9093 32.111 47.2773 32.5163 47.544C32.9323 47.8107 33.407 47.944 33.9403 47.944C34.4736 47.944 34.943 47.8107 35.3483 47.544C35.7536 47.2773 36.0736 46.9093 36.3083 46.44C36.543 45.9707 36.6603 45.4427 36.6603 44.856C36.6603 44.2587 36.543 43.7307 36.3083 43.272C36.0736 42.8133 35.7536 42.4507 35.3483 42.184C34.943 41.9173 34.4736 41.784 33.9403 41.784ZM41.2404 48.344C41.2404 48.5253 41.1764 48.68 41.0484 48.808C40.9204 48.936 40.7658 49 40.5844 49C40.4031 49 40.2538 48.936 40.1364 48.808C40.0191 48.68 39.9604 48.5253 39.9604 48.344V37.8C39.9604 37.6187 40.0191 37.4693 40.1364 37.352C40.2644 37.224 40.4191 37.16 40.6004 37.16C40.7924 37.16 40.9471 37.224 41.0644 37.352C41.1818 37.4693 41.2404 37.6187 41.2404 37.8V48.344ZM47.3908 49.16C46.5375 49.16 45.7908 48.9787 45.1508 48.616C44.5108 48.2533 44.0095 47.7573 43.6468 47.128C43.2948 46.488 43.1188 45.752 43.1188 44.92C43.1188 43.992 43.3001 43.2027 43.6628 42.552C44.0361 41.8907 44.5161 41.3893 45.1028 41.048C45.7001 40.696 46.3295 40.52 46.9908 40.52C47.4815 40.52 47.9561 40.6107 48.4148 40.792C48.8735 40.9733 49.2788 41.24 49.6308 41.592C49.9828 41.9333 50.2655 42.3493 50.4788 42.84C50.6921 43.32 50.8041 43.8587 50.8148 44.456C50.8148 44.6267 50.7508 44.7707 50.6228 44.888C50.4948 45.0053 50.3455 45.064 50.1748 45.064H43.8548L43.5668 43.96H49.7268L49.4708 44.184V43.832C49.4281 43.3947 49.2788 43.0213 49.0228 42.712C48.7775 42.392 48.4735 42.1467 48.1108 41.976C47.7588 41.8053 47.3855 41.72 46.9908 41.72C46.6708 41.72 46.3508 41.7787 46.0308 41.896C45.7215 42.0027 45.4388 42.184 45.1828 42.44C44.9375 42.6853 44.7348 43.0053 44.5748 43.4C44.4255 43.7947 44.3508 44.2693 44.3508 44.824C44.3508 45.4427 44.4735 45.9867 44.7188 46.456C44.9748 46.9253 45.3268 47.2987 45.7748 47.576C46.2228 47.8427 46.7455 47.976 47.3428 47.976C47.7161 47.976 48.0415 47.928 48.3188 47.832C48.5961 47.736 48.8361 47.6187 49.0388 47.48C49.2415 47.3307 49.4121 47.1813 49.5508 47.032C49.6895 46.936 49.8228 46.888 49.9508 46.888C50.1108 46.888 50.2388 46.9413 50.3348 47.048C50.4415 47.1547 50.4948 47.2827 50.4948 47.432C50.4948 47.6133 50.4095 47.7733 50.2388 47.912C49.9401 48.2427 49.5348 48.536 49.0228 48.792C48.5108 49.0373 47.9668 49.16 47.3908 49.16Z"/>
                            <path stroke="#838DAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M32.8182 25.5455V22.8182C32.8182 21.3716 32.2435 19.9842 31.2206 18.9612C30.1977 17.9383 28.8103 17.3636 27.3636 17.3636H16.4545C15.0079 17.3636 13.6205 17.9383 12.5976 18.9612C11.5747 19.9842 11 21.3716 11 22.8182V25.5455"/>
                            <path stroke="#838DAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M21.9091 11.9091C24.9216 11.9091 27.3637 9.46701 27.3637 6.45455C27.3637 3.44208 24.9216 1 21.9091 1C18.8967 1 16.4546 3.44208 16.4546 6.45455C16.4546 9.46701 18.8967 11.9091 21.9091 11.9091Z"/>
                            <path stroke="#838DAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M41.0001 25.5455V22.8182C40.9992 21.6096 40.5969 20.4356 39.8565 19.4804C39.1161 18.5253 38.0794 17.8431 36.9092 17.5409"/>
                            <path stroke="#838DAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M31.4546 1.17728C32.6279 1.47769 33.6678 2.16005 34.4105 3.11679C35.1531 4.07353 35.5562 5.25023 35.5562 6.46137C35.5562 7.67251 35.1531 8.8492 34.4105 9.80594C33.6678 10.7627 32.6279 11.445 31.4546 11.7455"/>
                        </svg>
                    </div>
                }
                else
                {
                    <div @onclick="NavigateToRootPage">
                        <svg width="56" height="59" viewBox="0 0 56 59" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#838DAA" d="M5.7175 45.464L1.9575 54.616C1.91483 54.744 1.84017 54.8453 1.7335 54.92C1.62683 54.9947 1.51483 55.032 1.3975 55.032C1.19483 55.032 1.0455 54.9787 0.9495 54.872C0.8535 54.7653 0.8055 54.6373 0.8055 54.488C0.794833 54.4133 0.8055 54.3333 0.8375 54.248L4.9815 44.168C5.03483 44.0187 5.11483 43.912 5.2215 43.848C5.33883 43.7733 5.46683 43.7413 5.6055 43.752C5.74417 43.752 5.86683 43.7893 5.9735 43.864C6.09083 43.9387 6.17083 44.04 6.2135 44.168L10.3415 54.152C10.3735 54.2373 10.3895 54.3227 10.3895 54.408C10.3895 54.6 10.3255 54.7547 10.1975 54.872C10.0695 54.9787 9.9255 55.032 9.7655 55.032C9.6375 55.032 9.52017 54.9947 9.4135 54.92C9.30683 54.8453 9.22683 54.7387 9.1735 54.6L5.3655 45.448L5.7175 45.464ZM2.7575 52.008L3.3015 50.76H8.0535L8.2935 52.008H2.7575ZM15.5984 46.52C16.1424 46.52 16.633 46.5787 17.0704 46.696C17.5077 46.8133 17.8544 46.9733 18.1104 47.176C18.3664 47.3787 18.4944 47.608 18.4944 47.864C18.4944 48.0027 18.4464 48.136 18.3504 48.264C18.2544 48.392 18.1264 48.456 17.9664 48.456C17.817 48.456 17.6944 48.4293 17.5984 48.376C17.513 48.3227 17.4277 48.2533 17.3424 48.168C17.2677 48.0827 17.161 48.008 17.0224 47.944C16.8944 47.8693 16.7077 47.8107 16.4624 47.768C16.217 47.7253 15.9717 47.704 15.7264 47.704C15.1397 47.704 14.6224 47.8427 14.1744 48.12C13.737 48.3973 13.3904 48.7707 13.1344 49.24C12.8784 49.7093 12.7504 50.2427 12.7504 50.84C12.7504 51.4373 12.873 51.9707 13.1184 52.44C13.3637 52.9093 13.705 53.2827 14.1424 53.56C14.5797 53.8373 15.0864 53.976 15.6624 53.976C16.0357 53.976 16.3344 53.944 16.5584 53.88C16.7824 53.816 16.969 53.7413 17.1184 53.656C17.3104 53.5493 17.4544 53.4427 17.5504 53.336C17.657 53.2293 17.7957 53.176 17.9664 53.176C18.1477 53.176 18.2864 53.2347 18.3824 53.352C18.489 53.4693 18.5424 53.6133 18.5424 53.784C18.5424 53.976 18.409 54.1787 18.1424 54.392C17.8757 54.6053 17.513 54.7867 17.0544 54.936C16.6064 55.0853 16.0944 55.16 15.5184 55.16C14.7077 55.16 13.9984 54.9733 13.3904 54.6C12.7824 54.216 12.3077 53.6987 11.9664 53.048C11.6357 52.3867 11.4704 51.6507 11.4704 50.84C11.4704 50.0293 11.641 49.2987 11.9824 48.648C12.3344 47.9973 12.8197 47.48 13.4384 47.096C14.057 46.712 14.777 46.52 15.5984 46.52ZM19.8953 46.776H23.6553C23.8259 46.776 23.9646 46.8347 24.0713 46.952C24.1886 47.0693 24.2473 47.208 24.2473 47.368C24.2473 47.5387 24.1886 47.6827 24.0713 47.8C23.9646 47.9067 23.8259 47.96 23.6553 47.96H19.8953C19.7353 47.96 19.5966 47.9013 19.4793 47.784C19.3619 47.6667 19.3033 47.5227 19.3033 47.352C19.3033 47.192 19.3619 47.0587 19.4793 46.952C19.5966 46.8347 19.7353 46.776 19.8953 46.776ZM21.5753 44.6C21.7566 44.6 21.9059 44.664 22.0233 44.792C22.1406 44.9093 22.1993 45.0587 22.1993 45.24V52.968C22.1993 53.224 22.2366 53.416 22.3113 53.544C22.3859 53.672 22.4819 53.7627 22.5993 53.816C22.7273 53.8587 22.8499 53.88 22.9673 53.88C23.0739 53.88 23.1646 53.864 23.2393 53.832C23.3246 53.7893 23.4206 53.768 23.5273 53.768C23.6339 53.768 23.7299 53.8213 23.8153 53.928C23.9113 54.024 23.9593 54.152 23.9593 54.312C23.9593 54.504 23.8473 54.6693 23.6233 54.808C23.3993 54.936 23.1486 55 22.8713 55C22.7219 55 22.5353 54.9893 22.3113 54.968C22.0979 54.9467 21.8846 54.8773 21.6713 54.76C21.4579 54.6427 21.2766 54.4507 21.1273 54.184C20.9886 53.9067 20.9193 53.5227 20.9193 53.032V45.24C20.9193 45.0587 20.9833 44.9093 21.1113 44.792C21.2393 44.664 21.3939 44.6 21.5753 44.6ZM27.2598 54.344C27.2598 54.5253 27.1958 54.68 27.0678 54.808C26.9504 54.936 26.8011 55 26.6198 55C26.4278 55 26.2731 54.936 26.1558 54.808C26.0384 54.68 25.9798 54.5253 25.9798 54.344V47.24C25.9798 47.0587 26.0384 46.9093 26.1558 46.792C26.2838 46.664 26.4384 46.6 26.6198 46.6C26.8011 46.6 26.9504 46.664 27.0678 46.792C27.1958 46.9093 27.2598 47.0587 27.2598 47.24V54.344ZM26.6198 45.528C26.3531 45.528 26.1558 45.4747 26.0278 45.368C25.8998 45.2613 25.8358 45.096 25.8358 44.872V44.648C25.8358 44.424 25.9051 44.2587 26.0438 44.152C26.1824 44.0453 26.3798 43.992 26.6358 43.992C26.8918 43.992 27.0838 44.0453 27.2118 44.152C27.3398 44.2587 27.4038 44.424 27.4038 44.648V44.872C27.4038 45.096 27.3344 45.2613 27.1957 45.368C27.0678 45.4747 26.8758 45.528 26.6198 45.528ZM29.559 46.584C29.687 46.584 29.8097 46.6213 29.927 46.696C30.0443 46.76 30.1297 46.856 30.183 46.984L32.839 53.224L32.583 53.352L35.287 47C35.4043 46.712 35.6017 46.5733 35.879 46.584C36.039 46.584 36.1777 46.6373 36.295 46.744C36.4123 46.8507 36.471 46.984 36.471 47.144C36.471 47.208 36.4603 47.272 36.439 47.336C36.4283 47.3893 36.4123 47.4373 36.391 47.48L33.303 54.584C33.1857 54.8507 32.999 54.9893 32.743 55C32.6043 55.0107 32.471 54.984 32.343 54.92C32.2257 54.8453 32.1403 54.7333 32.087 54.584L28.999 47.496C28.9777 47.4533 28.9563 47.4053 28.935 47.352C28.9243 47.2987 28.919 47.2347 28.919 47.16C28.919 47.0213 28.9723 46.8933 29.079 46.776C29.1963 46.648 29.3563 46.584 29.559 46.584ZM39.4316 54.344C39.4316 54.5253 39.3676 54.68 39.2396 54.808C39.1223 54.936 38.973 55 38.7916 55C38.5996 55 38.445 54.936 38.3276 54.808C38.2103 54.68 38.1516 54.5253 38.1516 54.344V47.24C38.1516 47.0587 38.2103 46.9093 38.3276 46.792C38.4556 46.664 38.6103 46.6 38.7916 46.6C38.973 46.6 39.1223 46.664 39.2396 46.792C39.3676 46.9093 39.4316 47.0587 39.4316 47.24V54.344ZM38.7916 45.528C38.525 45.528 38.3276 45.4747 38.1996 45.368C38.0716 45.2613 38.0076 45.096 38.0076 44.872V44.648C38.0076 44.424 38.077 44.2587 38.2156 44.152C38.3543 44.0453 38.5516 43.992 38.8076 43.992C39.0636 43.992 39.2556 44.0453 39.3836 44.152C39.5116 44.2587 39.5756 44.424 39.5756 44.648V44.872C39.5756 45.096 39.5063 45.2613 39.3676 45.368C39.2396 45.4747 39.0476 45.528 38.7916 45.528ZM41.4109 46.776H45.1709C45.3415 46.776 45.4802 46.8347 45.5869 46.952C45.7042 47.0693 45.7629 47.208 45.7629 47.368C45.7629 47.5387 45.7042 47.6827 45.5869 47.8C45.4802 47.9067 45.3415 47.96 45.1709 47.96H41.4109C41.2509 47.96 41.1122 47.9013 40.9949 47.784C40.8775 47.6667 40.8189 47.5227 40.8189 47.352C40.8189 47.192 40.8775 47.0587 40.9949 46.952C41.1122 46.8347 41.2509 46.776 41.4109 46.776ZM43.0909 44.6C43.2722 44.6 43.4215 44.664 43.5389 44.792C43.6562 44.9093 43.7149 45.0587 43.7149 45.24V52.968C43.7149 53.224 43.7522 53.416 43.8269 53.544C43.9015 53.672 43.9975 53.7627 44.1149 53.816C44.2429 53.8587 44.3655 53.88 44.4829 53.88C44.5895 53.88 44.6802 53.864 44.7549 53.832C44.8402 53.7893 44.9362 53.768 45.0429 53.768C45.1495 53.768 45.2455 53.8213 45.3309 53.928C45.4269 54.024 45.4749 54.152 45.4749 54.312C45.4749 54.504 45.3629 54.6693 45.1389 54.808C44.9149 54.936 44.6642 55 44.3869 55C44.2375 55 44.0509 54.9893 43.8269 54.968C43.6135 54.9467 43.4002 54.8773 43.1869 54.76C42.9735 54.6427 42.7922 54.4507 42.6429 54.184C42.5042 53.9067 42.4349 53.5227 42.4349 53.032V45.24C42.4349 45.0587 42.4989 44.9093 42.6269 44.792C42.7549 44.664 42.9095 44.6 43.0909 44.6ZM53.7354 46.6C53.9167 46.6 54.066 46.664 54.1834 46.792C54.3114 46.9093 54.3754 47.0587 54.3754 47.24V54.216C54.3754 55.112 54.1994 55.8533 53.8474 56.44C53.4954 57.0373 53.0207 57.48 52.4234 57.768C51.8367 58.056 51.17 58.2 50.4234 58.2C50.0074 58.2 49.6074 58.1573 49.2234 58.072C48.8394 57.9867 48.5247 57.8747 48.2794 57.736C48.0767 57.64 47.9327 57.5173 47.8474 57.368C47.7727 57.2293 47.762 57.08 47.8154 56.92C47.89 56.728 47.9967 56.5947 48.1354 56.52C48.2847 56.4453 48.4394 56.4453 48.5994 56.52C48.77 56.5947 49.0154 56.696 49.3354 56.824C49.666 56.9627 50.034 57.032 50.4394 57.032C50.994 57.032 51.4687 56.9253 51.8634 56.712C52.258 56.4987 52.562 56.184 52.7754 55.768C52.9887 55.3627 53.0954 54.856 53.0954 54.248V53.112L53.2874 53.512C53.1167 53.8427 52.8874 54.1307 52.5994 54.376C52.3114 54.6213 51.9807 54.8133 51.6074 54.952C51.234 55.0907 50.8234 55.16 50.3754 55.16C49.7674 55.16 49.25 55.032 48.8234 54.776C48.4074 54.5093 48.0874 54.1467 47.8634 53.688C47.65 53.2187 47.5434 52.68 47.5434 52.072V47.24C47.5434 47.0587 47.602 46.9093 47.7194 46.792C47.8474 46.664 48.002 46.6 48.1834 46.6C48.3754 46.6 48.53 46.664 48.6474 46.792C48.7647 46.9093 48.8234 47.0587 48.8234 47.24V51.784C48.8234 52.5093 48.9834 53.0587 49.3034 53.432C49.6234 53.7947 50.1194 53.976 50.7914 53.976C51.218 53.976 51.602 53.88 51.9434 53.688C52.2954 53.496 52.5727 53.2347 52.7754 52.904C52.9887 52.5627 53.0954 52.1893 53.0954 51.784V47.24C53.0954 47.0587 53.154 46.9093 53.2714 46.792C53.3887 46.664 53.5434 46.6 53.7354 46.6Z"/>
                            <path fill="#838DAA" d="M16 27.25C16 26.2554 16.3951 25.3016 17.0983 24.5983C17.8016 23.8951 18.7554 23.5 19.75 23.5H40"/>
                            <path fill="#838DAA" stroke="#838DAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M16 27.25C16 26.2554 16.3951 25.3016 17.0983 24.5983C17.8016 23.8951 18.7554 23.5 19.75 23.5H40"/>
                            <path fill="#838DAA" stroke="#838DAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M19.75 1H40V31H19.75C18.7554 31 17.8016 30.6049 17.0983 29.9017C16.3951 29.1984 16 28.2446 16 27.25V4.75C16 3.75544 16.3951 2.80161 17.0983 2.09835C17.8016 1.39509 18.7554 1 19.75 1Z"/>
                        </svg>
                    </div>


                    <div>
                        <svg width="56" height="59" viewBox="0 0 52 53" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#C32AAA" d="M6.23731 37.8C6.82398 37.8 7.35198 37.944 7.82131 38.232C8.29065 38.52 8.65865 38.9147 8.92531 39.416C9.20265 39.9173 9.34131 40.488 9.34131 41.128C9.34131 41.7573 9.20265 42.328 8.92531 42.84C8.65865 43.352 8.29065 43.7573 7.82131 44.056C7.35198 44.3547 6.82398 44.504 6.23731 44.504H2.98931L3.10131 44.312V48.344C3.10131 48.5253 3.04265 48.68 2.92531 48.808C2.80798 48.936 2.65865 49 2.47731 49C2.28531 49 2.13065 48.936 2.01331 48.808C1.90665 48.68 1.85331 48.5253 1.85331 48.344V38.44C1.85331 38.2587 1.91198 38.1093 2.02931 37.992C2.15731 37.864 2.31198 37.8 2.49331 37.8H6.23731ZM6.23731 43.272C6.58931 43.272 6.89865 43.176 7.16531 42.984C7.43198 42.792 7.64531 42.5307 7.80531 42.2C7.96531 41.8693 8.04531 41.512 8.04531 41.128C8.04531 40.7227 7.96531 40.3653 7.80531 40.056C7.64531 39.7467 7.43198 39.5013 7.16531 39.32C6.89865 39.128 6.58931 39.032 6.23731 39.032H2.98931L3.10131 38.856V43.432L2.98931 43.272H6.23731ZM14.8752 49.16C14.0219 49.16 13.2752 48.9787 12.6352 48.616C11.9952 48.2533 11.4939 47.7573 11.1312 47.128C10.7792 46.488 10.6032 45.752 10.6032 44.92C10.6032 43.992 10.7845 43.2027 11.1472 42.552C11.5205 41.8907 12.0005 41.3893 12.5872 41.048C13.1845 40.696 13.8139 40.52 14.4752 40.52C14.9659 40.52 15.4405 40.6107 15.8992 40.792C16.3579 40.9733 16.7632 41.24 17.1152 41.592C17.4672 41.9333 17.7499 42.3493 17.9632 42.84C18.1765 43.32 18.2885 43.8587 18.2992 44.456C18.2992 44.6267 18.2352 44.7707 18.1072 44.888C17.9792 45.0053 17.8299 45.064 17.6592 45.064H11.3392L11.0512 43.96H17.2112L16.9552 44.184V43.832C16.9125 43.3947 16.7632 43.0213 16.5072 42.712C16.2619 42.392 15.9579 42.1467 15.5952 41.976C15.2432 41.8053 14.8699 41.72 14.4752 41.72C14.1552 41.72 13.8352 41.7787 13.5152 41.896C13.2059 42.0027 12.9232 42.184 12.6672 42.44C12.4219 42.6853 12.2192 43.0053 12.0592 43.4C11.9099 43.7947 11.8352 44.2693 11.8352 44.824C11.8352 45.4427 11.9579 45.9867 12.2032 46.456C12.4592 46.9253 12.8112 47.2987 13.2592 47.576C13.7072 47.8427 14.2299 47.976 14.8272 47.976C15.2005 47.976 15.5259 47.928 15.8032 47.832C16.0805 47.736 16.3205 47.6187 16.5232 47.48C16.7259 47.3307 16.8965 47.1813 17.0352 47.032C17.1739 46.936 17.3072 46.888 17.4352 46.888C17.5952 46.888 17.7232 46.9413 17.8192 47.048C17.9259 47.1547 17.9792 47.2827 17.9792 47.432C17.9792 47.6133 17.8939 47.7733 17.7232 47.912C17.4245 48.2427 17.0192 48.536 16.5072 48.792C15.9952 49.0373 15.4512 49.16 14.8752 49.16ZM28.0791 44.84C28.0791 45.672 27.8924 46.4133 27.5191 47.064C27.1564 47.7147 26.6604 48.2267 26.0311 48.6C25.4124 48.9733 24.7137 49.16 23.9351 49.16C23.1564 49.16 22.4524 48.9733 21.8231 48.6C21.1937 48.2267 20.6924 47.7147 20.3191 47.064C19.9564 46.4133 19.7751 45.672 19.7751 44.84C19.7751 44.008 19.9564 43.2667 20.3191 42.616C20.6924 41.9653 21.1937 41.4533 21.8231 41.08C22.4524 40.7067 23.1564 40.52 23.9351 40.52C24.7137 40.52 25.4124 40.7067 26.0311 41.08C26.6604 41.4533 27.1564 41.9653 27.5191 42.616C27.8924 43.2667 28.0791 44.008 28.0791 44.84ZM26.7991 44.84C26.7991 44.2213 26.6711 43.6773 26.4151 43.208C26.1697 42.7387 25.8284 42.3707 25.3911 42.104C24.9644 41.8373 24.4791 41.704 23.9351 41.704C23.3911 41.704 22.9004 41.8373 22.4631 42.104C22.0364 42.3707 21.6951 42.7387 21.4391 43.208C21.1831 43.6773 21.0551 44.2213 21.0551 44.84C21.0551 45.448 21.1831 45.9867 21.4391 46.456C21.6951 46.9253 22.0364 47.2987 22.4631 47.576C22.9004 47.8427 23.3911 47.976 23.9351 47.976C24.4791 47.976 24.9644 47.8427 25.3911 47.576C25.8284 47.2987 26.1697 46.9253 26.4151 46.456C26.6711 45.9867 26.7991 45.448 26.7991 44.84ZM34.0843 40.6C34.8096 40.6 35.4603 40.7813 36.0363 41.144C36.6123 41.5067 37.0656 42.008 37.3963 42.648C37.7376 43.288 37.9083 44.024 37.9083 44.856C37.9083 45.6773 37.7376 46.4133 37.3963 47.064C37.0656 47.704 36.6123 48.2107 36.0363 48.584C35.471 48.9467 34.831 49.128 34.1163 49.128C33.7216 49.128 33.3483 49.0693 32.9963 48.952C32.655 48.824 32.3403 48.664 32.0523 48.472C31.775 48.2693 31.5403 48.0453 31.3483 47.8C31.1563 47.544 31.0176 47.2933 30.9323 47.048L31.2843 46.824V51.544C31.2843 51.7253 31.2256 51.88 31.1083 52.008C30.991 52.136 30.8363 52.2 30.6443 52.2C30.463 52.2 30.3083 52.136 30.1803 52.008C30.063 51.8907 30.0043 51.736 30.0043 51.544V41.32C30.0043 41.1387 30.063 40.9893 30.1803 40.872C30.3083 40.744 30.463 40.68 30.6443 40.68C30.8363 40.68 30.991 40.744 31.1083 40.872C31.2256 40.9893 31.2843 41.1387 31.2843 41.32V42.744L31.0443 42.616C31.119 42.3493 31.247 42.0933 31.4283 41.848C31.6203 41.6027 31.8496 41.3893 32.1163 41.208C32.3936 41.016 32.6976 40.8667 33.0283 40.76C33.3696 40.6533 33.7216 40.6 34.0843 40.6ZM33.9403 41.784C33.407 41.784 32.9323 41.9173 32.5163 42.184C32.111 42.4507 31.791 42.8133 31.5563 43.272C31.3323 43.7307 31.2203 44.2587 31.2203 44.856C31.2203 45.4427 31.3323 45.9707 31.5563 46.44C31.791 46.9093 32.111 47.2773 32.5163 47.544C32.9323 47.8107 33.407 47.944 33.9403 47.944C34.4736 47.944 34.943 47.8107 35.3483 47.544C35.7536 47.2773 36.0736 46.9093 36.3083 46.44C36.543 45.9707 36.6603 45.4427 36.6603 44.856C36.6603 44.2587 36.543 43.7307 36.3083 43.272C36.0736 42.8133 35.7536 42.4507 35.3483 42.184C34.943 41.9173 34.4736 41.784 33.9403 41.784ZM41.2404 48.344C41.2404 48.5253 41.1764 48.68 41.0484 48.808C40.9204 48.936 40.7658 49 40.5844 49C40.4031 49 40.2538 48.936 40.1364 48.808C40.0191 48.68 39.9604 48.5253 39.9604 48.344V37.8C39.9604 37.6187 40.0191 37.4693 40.1364 37.352C40.2644 37.224 40.4191 37.16 40.6004 37.16C40.7924 37.16 40.9471 37.224 41.0644 37.352C41.1818 37.4693 41.2404 37.6187 41.2404 37.8V48.344ZM47.3908 49.16C46.5375 49.16 45.7908 48.9787 45.1508 48.616C44.5108 48.2533 44.0095 47.7573 43.6468 47.128C43.2948 46.488 43.1188 45.752 43.1188 44.92C43.1188 43.992 43.3001 43.2027 43.6628 42.552C44.0361 41.8907 44.5161 41.3893 45.1028 41.048C45.7001 40.696 46.3295 40.52 46.9908 40.52C47.4815 40.52 47.9561 40.6107 48.4148 40.792C48.8735 40.9733 49.2788 41.24 49.6308 41.592C49.9828 41.9333 50.2655 42.3493 50.4788 42.84C50.6921 43.32 50.8041 43.8587 50.8148 44.456C50.8148 44.6267 50.7508 44.7707 50.6228 44.888C50.4948 45.0053 50.3455 45.064 50.1748 45.064H43.8548L43.5668 43.96H49.7268L49.4708 44.184V43.832C49.4281 43.3947 49.2788 43.0213 49.0228 42.712C48.7775 42.392 48.4735 42.1467 48.1108 41.976C47.7588 41.8053 47.3855 41.72 46.9908 41.72C46.6708 41.72 46.3508 41.7787 46.0308 41.896C45.7215 42.0027 45.4388 42.184 45.1828 42.44C44.9375 42.6853 44.7348 43.0053 44.5748 43.4C44.4255 43.7947 44.3508 44.2693 44.3508 44.824C44.3508 45.4427 44.4735 45.9867 44.7188 46.456C44.9748 46.9253 45.3268 47.2987 45.7748 47.576C46.2228 47.8427 46.7455 47.976 47.3428 47.976C47.7161 47.976 48.0415 47.928 48.3188 47.832C48.5961 47.736 48.8361 47.6187 49.0388 47.48C49.2415 47.3307 49.4121 47.1813 49.5508 47.032C49.6895 46.936 49.8228 46.888 49.9508 46.888C50.1108 46.888 50.2388 46.9413 50.3348 47.048C50.4415 47.1547 50.4948 47.2827 50.4948 47.432C50.4948 47.6133 50.4095 47.7733 50.2388 47.912C49.9401 48.2427 49.5348 48.536 49.0228 48.792C48.5108 49.0373 47.9668 49.16 47.3908 49.16Z"/>
                            <path stroke="#C32AAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M32.8182 25.5455V22.8182C32.8182 21.3716 32.2435 19.9842 31.2206 18.9612C30.1977 17.9383 28.8103 17.3636 27.3636 17.3636H16.4545C15.0079 17.3636 13.6205 17.9383 12.5976 18.9612C11.5747 19.9842 11 21.3716 11 22.8182V25.5455"/>
                            <path stroke="#C32AAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M21.9091 11.9091C24.9216 11.9091 27.3637 9.46701 27.3637 6.45455C27.3637 3.44208 24.9216 1 21.9091 1C18.8967 1 16.4546 3.44208 16.4546 6.45455C16.4546 9.46701 18.8967 11.9091 21.9091 11.9091Z"/>
                            <path stroke="#C32AAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M41.0001 25.5455V22.8182C40.9992 21.6096 40.5969 20.4356 39.8565 19.4804C39.1161 18.5253 38.0794 17.8431 36.9092 17.5409"/>
                            <path stroke="#C32AAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M31.4546 1.17728C32.6279 1.47769 33.6678 2.16005 34.4105 3.11679C35.1531 4.07353 35.5562 5.25023 35.5562 6.46137C35.5562 7.67251 35.1531 8.8492 34.4105 9.80594C33.6678 10.7627 32.6279 11.445 31.4546 11.7455"/>
                        </svg>
                    </div>
                }
            }


        </div>

    </div>

</div>

<!-- container for top bar, main content, friends section -->
<div class="h-screen col-span-4 flex flex-col">

    <!-- top bar -->
    <div class="h-[80px] px-7 flex justify-between items-center border-b border-athens-gray">

        <!-- search bar -->
        <div class="max-w-[500px] h-full flex items-center gap-3">

            <!-- lens icon -->
            <svg width="23" height="23" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.1111 23.2222C18.2476 23.2222 23.2222 18.2476 23.2222 12.1111C23.2222 5.97462 18.2476 1 12.1111 1C5.97461 1 1 5.97462 1 12.1111C1 18.2476 5.97461 23.2222 12.1111 23.2222Z" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M26 26L19.9584 19.9584" stroke="#A0A0A0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <!-- input component -->
            <input
                id="search-input"
                name="search"
                placeholder="Search..."
                class="grow h-full outline-none text-cadet-gray-800 font-medium"/>

        </div>

        <!-- links on right of bar -->
        @if (AuthService.IsAuthenticated())
        {
            <div>
                <!-- logout -->
                <a @onclick="SignOut" href="/" class="">
                    Log out
                </a>
            </div>
        }


    </div>

    <!-- container for main content, friends & spaces section -->
    <div class="h-full grid grid-cols-4 overflow-auto">

        <!-- main content (center) -->
        <div class="h-full col-span-3 overflow-auto">

            <!-- if user is logged in: show post submission form -->
            @if (AuthService.IsAuthenticated())
            {
                <!-- the body (e.g. posts) -->
                @Body
            }


        </div>

        <!-- friends bar on the right -->
        <div class="h-full bg-[#FEFDFE] border-l border-athens-gray">

            <!-- friends card -->
            <Card Class="min-h-[250px] mt-20 mx-7 flex flex-col items-center">

                <!-- title -->
                <h3 class="font-semibold text-lg">
                    Friends
                </h3>

                <!-- no friends :( -->
                <div class="grow flex flex-col justify-center items-center">
                    <span>So empty here...</span>
                    <span>Sign in to see your friends!</span>
                </div>

            </Card>

            <!-- spaces card -->
            @if (!AuthService.IsAuthenticated())
            {
                <SpacesCardNoAccount/>
            }
            else
            {
                <SpacesCard/>
            }

        </div>

    </div>

</div>

</div>

@code{

    /// <summary>
    ///     ViewModelSignUp to be used on auth
    /// </summary>
    [Inject]
    [SupplyParameterFromForm]
    public ISignInFormVm? ViewModelSignUp { get; set; }

    /// <summary>
    ///     ViewModel to be used in this view
    /// </summary>
    [Inject]
    public IMainLayoutVm? MainLayoutVm { get; set; }

    public UserInformationDto UserInformationDto { get; set; } = new()
    {
        Username = "Username is loading..",
        Description = "Description is loading..",
        ProfilePic = null
    };

    private async void PersistAvatarInDb(string base64Encoding)
    {
        await MainLayoutVm!.PersistUserAvatarInDb(base64Encoding);
        //Refreshes Cache
        NavigationManager.NavigateTo("/", true);
    }


    /// <summary>
    ///     Refreshes a session
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await MainLayoutVm!.RestoreSessionOnInit();
    }

    /// <summary>
    ///    Refreshes the user information
    /// </summary>
    /// <param name="firstRender"></param>
    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender || UserInformationDto.Username == "Username is loading..")
        {
            var userInfo = await MainLayoutVm!.SetUserInfo();
            if (userInfo != null)
            {
                UserInformationDto = userInfo;
                StateHasChanged();
            }
        }
    }

    private async Task SubmitForm()
    {
        await ViewModelSignUp!.SubmitSignInForm();
        await MainLayoutVm!.SetUserInfo();
        NavigationManager.NavigateTo("/");
    }

    private async void SignOut()
    {
        await AuthService.SignOut();
        NavigationManager.NavigateTo("/", true);
    }

    private void NavigateToProfilePage()
    {
        NavigationManager.NavigateTo($"/profile?id={AuthService.GetCurrentSession()!.User!.Id!}");
    }

    private void NavigateToRootPage()
    {
        NavigationManager.NavigateTo("/");
    }

}